# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
.venv/
.env

# ==== PyCharm / IntelliJ ====
.idea/

# ==== Данные для обучения моделей ====
data/
experiments/